footer
    .container
        .left
            section
                h3 LIEN HE
                p Tru so chinh
                p Tang 1, toa nha 3D, pho duy tan, quan cau giay, ha noi
                p Chinh nhanh Da nang
                p So 5, duong Nguyen Hanh, Phong Hoa Khanh Nam, Quan hai chau, Da Nang
                i.tel
                a(href='callto:(+84) 4 6297 3538') (+84) 4 6297 3538
                i.email
                a(href='mailto:info@seta-asia.vn') info@seta-asia.vn

        .right
            section
                h2 Lien Ket
                nav
                    ul.ul1
                        li Trang chủ;
                        li Sản phẩm
                        li Tin tức
                    ul.ul2
                        li Giới thiệu
                        li Văn phòng
                        li Tuyển dụng
                    ul.ul3
                        li Dịch vụ
                        li Vị trí tuyển dụng
                        li Môi trường làm việc

