include mixin.pug

section.team-members
    h3 TEAMMEMBER
    +basic-block('title 1', 'content ...', 'img', '/images/img1')
    +basic-block('title 2', 'content ...', 'img', '/images/img2')
    +basic-block('title 3', 'content ...', 'img', '/images/img3')
    +basic-block('title 4', 'content ...', 'img', '/images/img4')