/* import */
@import 'reset';
@import 'mixin';

/* declare varity */
$font-title: 'Montserrat', sans-serif;
$font-body: 'Source Sans Pro', sans-serif;
$font-caption: 'Lato', sans-serif;

$color: #000;

/* default style */
body {
  font-family: $font-body;
  font-size: 14px;
  color: #848e97;
  background-color: #fff;
}

a {
  text-decoration: none;
}

p {

}

/* general style */
.section {
  padding: 50px 0 45px;

  &__title {
    font-size: 48px;
    font-family: $font-title;
    font-weight: 700;
    padding-bottom: 55px; //

    &--violet {
      color: #8d81ac;
    }
  }
}

.container {
  margin: 0 15px;
}

/* import components */
@import 'coding';