.coding {

    &__item {
        display: flex;
        margin-bottom: 40px;
    }
    
    &__img {
        width: 25%;
        i {
            font-size: 60px;
        }
    }
    &__content {
        width: 75%;
    }

    &__screen {
        position: relative;
        overflow: auto;

        img {
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}

@media (min-width: 1170px) {
    .coding {
        
    }
}